@import "../../assets/styles/vars.gcss";

:global(html) {
  background-color: var(--c_bg);
  @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
}

.wrap {
  max-width: 1600px;
  margin: calc(20rem/var(--f_size)) auto;
  padding: 0 calc(100%/var(--f_size));
  min-height: calc(100% - 40rem/var(--f_size));

  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;

  & > main {
    padding-top: calc(100rem/var(--f_size));;
    flex: 1 0 auto;
  }

  & > footer {
    flex: 0 0 auto;
    z-index: 10;

    & a {
      margin-right: 20px;
      color: var(--c_link);
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }

    & :global(nav) {
      text-align: right;
    }
  }
}

.wrap > header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background-color: var(--c_bg);
  height: calc(60rem/var(--f_size));
  transition: all .2s ease-out;

  & > section {
    position: relative;
    max-width: 1600px;
    margin: calc(20rem/var(--f_size)) auto;
    padding: 0 calc(100%/var(--f_size));
  }

  &:global(.is_sticky) {
    background-color: var(--c_thead);
  }
}

.logo {
  float: left;
  margin-right: 2rem;
  text-decoration: none;

  & svg {
    fill: var(--c_txt);
    height: calc(26rem / var(--f_size));
    transition: all .2s ease-out;
  }

  &:hover {
    & svg {
      fill: var(--c_emph);
    }
  }

}