{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./i18n/text",
        "enforceDescriptions": false
      }
    ]
  ]
}