@import "../../assets/styles/vars.gcss";

.page {
  position: relative;
}

.bg {
  position: fixed;
  top: 0; left: -10rem;
  width: 80%; bottom: 0;
  z-index: var(--z-bg);
  opacity: 0;

  &:global(.is_act) {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  & svg {
    fill: #333;
    animation: pulse 10s alternate infinite;

    & :global(.a) {
      opacity: 0.2;
    }

  }
}

@keyframes pulse {
  0% {
    fill: color(var(--c_obj) alpha(-60%));
  }
  50% {
    fill: rgba(207, 236, 109, .4);
  }
  100% {
    fill: rgba(236, 166, 109, .4);
  }
}

.photo_wrap {
  position: relative;
  margin: 0 auto;
  max-width: calc(600rem/var(--f_size));
  z-index: var(--z-cont);

  & > :global(h1) {
    position: absolute;
    left: 0;
    margin-left: 50%;
    font-weight: var(--f_bold);
    top: calc(60rem/var(--f_size));
    text-transform: uppercase;
    font-size: calc(63rem/var(--f_size));
    text-shadow: 3px 4px 1px #a8ba9a;
  }
}

.photo {
  position: fixed;
  right: 3rem; bottom: -6rem;
  background-image: url("./img/index_bg.png");
  width: calc(600rem/var(--f_size));
  height: calc(600rem/var(--f_size));
  background-size: contain;
  background-repeat: no-repeat;
  z-index: var(--z-cont);
  //background-color: var(--c_bg);
}§

.reactive path {
  fill: none;
  stroke: var(--c_txt);
  stroke-width: 0.5;
  animation: draw 2s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

