@import "../../assets/styles/vars.scss";

.wrap {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: calc(100rem/16);
}

.col_left {
  flex: 5;
}

.col_right {
  flex: 9;
}

.cont {
  position: relative;
  z-index: $z-cont;
}

.desc {
  max-width: 80%;

  & .row {
    align-items: center;
    margin-bottom: .8rem;
  }
}

.logo {
  margin-right: 1rem;
  width: 2rem; height: 2rem;
  text-align: left;
}

.github,
.fb,
.inst,
.vk,
.linkedin {
  & svg {
    width: 100%;
    fill: #fff;
  }
}

:global(.contact_bg) {
  & svg {
    bottom:  -5rem;
    left: -5rem;
    height: 80%;
  }
}

@media (max-width: 1300px) {
  .col_left {
    flex: 6;
  }

  .col_right {
    flex: 8;
  }
}

@media (max-width: 1000px) {
  .col_left {
    flex: 7;
  }

  .col_right {
    flex: 7;
  }
}


@media (max-width: 810px) {
  .col_left {
    flex: 6;
  }

  .col_right {
    flex: 8;
  }
}

@media (max-width: 760px) {
  .wrap > .row {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .desc {
    max-width: 100%;
  }
}
